<?xml version="1.0" encoding="UTF-8"?>
<web-app  xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0">
    
    <display-name>Trabajo asignatura web</display-name>
    <description>
      App web hecha con maven, jsp, servlets, desplegada en tomcat y usando mariadb como BBDD
    </description>  
    
    <servlet>
        <servlet-name>ControladorAlumno</servlet-name>
        <servlet-class>controller.ControladorAlumno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorAlumno</servlet-name>
        <url-pattern>/ControladorAlumno/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ControladorResponsable</servlet-name>
        <servlet-class>controller.ControladorResponsable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorResponsable</servlet-name>
        <url-pattern>/ControladorResponsable/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PanelControlAlumnoServlet</servlet-name>
        <servlet-class>controller.PanelControlAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanelControlResponsableServlet</servlet-name>
        <servlet-class>controller.PanelControlResponsableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PanelControlResponsableServlet</servlet-name>
        <url-pattern>/panelResponsable/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanelControlAlumnoServlet</servlet-name>
        <url-pattern>/panelAlumno/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PanelControlTutorServlet</servlet-name>
        <servlet-class>controller.PanelControlTutorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PanelControlTutorServlet</servlet-name>
        <url-pattern>/panelTutor/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControladorInicio</servlet-name>
        <servlet-class>controller.ControladorInicio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorInicio</servlet-name>
        <url-pattern>/inicio/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>controller.ControladorLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/login/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControladorTutor</servlet-name>
        <servlet-class>controller.ControladorTutor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorTutor</servlet-name>
        <url-pattern>/ControladorTutor/*</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>Pdf</servlet-name>
        <servlet-class>util.Pdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pdf</servlet-name>
        <url-pattern>/Pdf/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
